body  {
  background-color: #fbebea;
  font-family: PT Sans, Arial;
  padding: 36px;

  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #2d2829;
}

/* marck-script-regular - latin */
@font-face {
  font-family: 'Marck Script';
  font-style: normal;
  font-weight: 400;
  src: local('Marck Script'), local('MarckScript-Regular'),
       url('/Users/tpodkur/homeprog/roowix/frontend/TatianaPodkur/fonts/marck-script-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/Users/tpodkur/homeprog/roowix/frontend/TatianaPodkur/fonts/marck-script-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
}

/* playfair-display-regular - latin */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  src: local('Playfair Display Regular'), local('PlayfairDisplay-Regular'),
       url('../fonts/playfair-display-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/playfair-display-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
}

/* pt-sans-regular - latin */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'),
       url('../fonts/pt-sans-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/pt-sans-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 400px;
}

.header__logo {

}

.header__nav-item {
  font-size: 7px;
  color: #2d2829;
  text-decoration: none;
}

.header__phone-number {
  font-size: 7px;
  font-weight: bold;
  line-height: 3;
  text-decoration: none;
  color: #2d2829;
}

.main-info {
  background-image: url(images/main-cake.jpg);
  background-repeat: no-repeat;
  background-position: top, right; 
}

.cakes-to-order {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
}

.cakes-to-order__header {
  font-family: Playfair Display;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 3px;
}

.cakes-to-order__subheader {
  font-family: Marck Script;
  font-size: 20px;
  font-weight: normal;
}

.button {
  width: 100px;
}

.cakes-to-order__advantages-list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 30px;

  max-width: 200px;
}

.cakes-to-order__natural-ingredient {
  font-size: 7px;
  color: #000000;
  padding-left: 25px;
  padding-top: 10px

  height: 30px;

  background-image: url(images/ikon_leaf.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: auto 100%;
}

.cakes-to-order__free-shipping {
  font-size: 7px;
  color: #000000;
  padding-left: 25px;
  padding-top: 10px

  height: 30px;

  background-image: url(images/ikon_gift.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: auto 100%;
}

.our-cake {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.our-cake__header {
  font-family: Playfair Display;
  font-size: 20px;
  font-weight: bold;
}

.our-cake__block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.our-cake__classic-type {
  background-image: url(images/classic.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}










