body  {
  background-color: #fbebea;
  font-family: Arial;
}

/* marck-script-regular - latin */
@font-face {
  font-family: 'Marck Script';
  font-style: normal;
  font-weight: 400;
  src: local('Marck Script'), local('MarckScript-Regular'),
       url('/Users/tpodkur/homeprog/roowix/frontend/TatianaPodkur/fonts/marck-script-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/Users/tpodkur/homeprog/roowix/frontend/TatianaPodkur/fonts/marck-script-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
}

/* playfair-display-regular - latin */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  src: local('Playfair Display Regular'), local('PlayfairDisplay-Regular'),
       url('../fonts/playfair-display-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/playfair-display-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
}

/* pt-sans-regular - latin */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'),
       url('../fonts/pt-sans-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/pt-sans-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
}

h1, h2, h3, h4 p, a {
  font-family: PT Sans;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #2d2829;
}

a[tel] {
  font-size: 7px;
  font-weight: bold;
  line-height: 3;
}

nav a {
  font-size: 6px;
  line-height: 2;
}

.prominent-text {
  color: #f50049;
}

.main-title {
  font-family: Playfair Display;
  font-weight: bold;
  font-size: 40px;
  line-height: 1;
  letter-spacing: 3px;
}

.main-title--smaller{
  font-size: 20px;
  line-height: 2;
}

.main-title--white{
  font-size: 20px;
  color: #ffffff;
}

.title-addition {
  font-family: Marck Script;
  font-size: 20px;
  line-height: 2;
  color: #32313d;
}

 .bright{
  font-family: Marck Script;
  font-size: 13px;
  line-height: 1;
  color: #f50049;
}

.default-button {
  display: inline-block;
  color: white;
  background-color: #f50049;
  text-decoration: none;
  user-select: none;
  padding: .20em 2em;
  border-radius: 12px;
}

.advantages-text {
  font-size: 7px;
  line-height: 1;
  color: #000000;
}

.cake-type{
  font-size: 12px;;
  line-height: 3;
}

.caption {
  font-size: 10px;
  line-height: 3;
  color: rgba(45, 40, 41, 0.7);
}

.caption--dark{
  color: #2d2829;
}

.step{
  font-family: Playfair Display;
  font-size: 13px;
  font-weight: bold;
  line-height: 1;
  color: #f50049;
}

.step--number{
  font-size: 30px;
  line-height: 3;
}

.step--numberW{
  font-size: 30px;
  line-height: 3;
  color: #ffffff;
}

.description {
  font-size: 9px;
  /*font-weight: normal;*/
  line-height: 1;
  color: #2f2f2f;
}

.description--title {
  font-size: 10px;
  font-weight: bold;
  line-height: 3;
}

.cost{
  font-family: Playfair Display;
  font-size: 11px;
  font-weight: bold;
  line-height: 3;
  color: #2f2f2f;
}

blockquote {
  font-family: Playfair Display;
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
  line-height: 1;
  text-align: center;
  color: #2d2829;
}

footer a {
  font-size: 8px;
  line-height: 2;
}