.care {
  margin: 415px 0px 0px 73px;
}

.care__header {
  font-family: 'Playfair Display', 'Times New Roman', serif;
  font-size: 40px;
  font-weight: bold;
  margin: 0px;
}

.care__subheader {
  margin: 30px 0px 0px 0px;
  font-family: 'Marck Script', 'Arial';
  font-size: 35px;
}

.care__description {
  max-width: 440px;
  font-size: 20px;
  margin: 18px 0px 0px 0px;
}